*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    border-image-source: url("exam kit/logo.png");
    text-align: justify;
}


.header { 
min-height: 100vh;
width: 100%;
background-image: url("exam kit/banner-img.png");
background-position:center;
background-size: cover;
position: relative;
}
nav{
    display:flex;
    padding:3% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 180, 165);


}
nav p h2{
    font-size: 35px;
    text-align: center;
    margin: 2px 2px;
}
.nav-menu{
    position: fixed;
    float: right;
    flex: 1;
    text-align:top-right;
    font-size: 20px;
}
.nav-menu ul li{
    list-style-type: style type none;
    display:inline-block;
    margin:0px 12px;
    position:relative;
}
.nav-menu ul li a{
    float:left;
    text-decoration:dotted;
    color:black;
    flex: 1;
}
.nav-menu ul li a:hover{
    color:crimson;
    text-decoration:underline;

}
.nav-menu ul li::after{
    content:'';
    display:block;
    width :0%;
    height: 2px;
    background-color:crimson;
    transition: width .3;
}   
.nav-menu ul li:hover::after{
    width :100%;
    transition: width .3s; 
}
.card-text{
    font-size: 3rem;
    color:#ff9800;
    border:none;


}